---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import UseCases from '../components/UseCases.astro';
import TechStack from '../components/TechStack.astro';
import Screenshots from '../components/Screenshots.astro';
import OpenSource from '../components/OpenSource.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout>
  <Nav />
  <main id="top">
    <Hero />
    <Features />
    <HowItWorks />
    <UseCases />
    <TechStack />
    <Screenshots />
    <OpenSource />
  </main>
  <Footer />
</BaseLayout>
